{% extends "layout.html" %} 
{% block title %} 
    Register a User 
{% endblock %} 
{% block content %}
<div class="container">
  <div class="jumbotron">
    <form method="POST">
      {{form.hidden_tag()}}
      {{form.email.label}}{{form.email(class="form-control")}}
      {% if form.email.errors %}
      <ul>
      {% for error in form.email.errors %}
        <li class="text-danger">{{error}}</li>
      {% endfor %}
      </ul>
      {% endif %}
      {{form.username.label}}{{form.username(class="form-control")}}
      {% if form.username.errors %}
      <ul>
      {% for error in form.username.errors %}
        <li class="text-danger">{{error}}</li>
      {% endfor %}
      </ul>
      {% endif %}
      {{form.password.label}}{{form.password(class="form-control")}}
      {{form.pass_confirm.label}}{{form.pass_confirm(class="form-control")}} 
      {{form.submit(class="btn btn-primary mt-3")}}
      <a href="{{url_for('index')}}" class="btn btn-danger mt-3">Cancel</a>
    </form>
  </div>
</div>
{% endblock %}
