{% extends "layout.html" %} {% block title %} Update a paper {% endblock %} {% block content %}
<div class="container">
  <div class="jumbotron">
    <h2>Please Update the information!</h2>
    <form action="{{ url_for('update',id=form.id)}}" method="POST">
      {{form.hidden_tag()}} {{form.title.label}}: {{paper.title}}
      {{form.title(class="form-control")}}
      {{form.author.label}}: {{paper.author}}
      {{form.author(class="form-control")}}
      {{form.publish_date.label}}: {{paper.publish_date}}
      {{form.publish_date(class="form-control",type="date")}}
      {{form.category.label}}: {{paper.category}}
      {{form.category(class="form-control")}} 
      {{form.submit(class="btn btn-warning mt-3")}}
      <a href="{{ url_for('index') }}" class="btn btn-danger mt-3">Cancel</a>
    </form>
  </div>
</div>
{% endblock %}
